:root {
  --background-color: #222;
  --callout: #000;
  --font-color: #fff;
  --pink: #ff0080;
  --orange: #ff8c00;
  --blue: #40e0d0;
  --green: #09fbd3;
  --button: var(--blue);
  --buttonColor: var(--background-color);
  --max-height: 1280px;
  --content-width: 680px;
}

[data-theme="light"] {
  --background-color: #fff;
  --callout: #eee;
  --font-color: #3a3a3a;
  --pink: #000;
  --orange: #000;
  --blue: #43f;
  --green: #900eaa;
  --button: #000;
  --buttonColor: var(--background-color);
  --max-height: 1280px;
  --content-width: 680px;
}

body {
  background-color: var(--background-color);
  color: var(--font-color);
  font-family: "Roboto", sans-serif;
  font-size: 20.25px;
  font-weight: 300;
  text-rendering: optimizelegibility;
  line-height: 1.75;
  margin: 0;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  color: var(--pink);
  font-family: "Roboto", sans-serif;
  font-weight: 700;
  margin: 100px 0 25px 0;
}

p,
ul,
ol {
  color: var(--font-color);
  margin-bottom: 36px;
}

a {
  box-shadow: none;
  color: var(--blue);
}

a:hover {
  opacity: 0.66;
}

blockquote {
  border-left: none;
}

blockquote p {
  color: var(--font-color);
  margin-top: 60px;
  padding-left: 30px;
  font-size: 30px;
  line-height: 1.5em;
  border-left: 2px solid var(--blue);
}

img {
  width: 100%;
  height: auto;
}

.direct-link {
  text-decoration: none;
}

.prevnext {
  list-style: none;
  font-size: 16px;
  display: flex;
  justify-content: space-between;
}

.blog-titles h2 {
  margin-top: 25px;
}

:not(pre) > code {
  background-color: var(--background-color);
  color: var(--pink);
}

.twitter-tweet,
img,
pre {
  margin-bottom: 32px;
}

footer {
  max-width: var(--max-height);
  margin: 0 auto;
}

.Buttondown--ad--Wrapper {
  background: #00f260; /* fallback for old browsers */
  background: -webkit-linear-gradient(
    to right,
    #0575e6,
    #00f260
  ); /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(
    to right,
    #0575e6,
    #00f260
  ); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
}

.Buttondown--Wrapper {
  background: #40e0d0; /* fallback for old browsers */
  background: -webkit-linear-gradient(
    to right,
    #40e0d0,
    #ff8c00,
    #ff0080
  ); /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(
    to right,
    #40e0d0,
    #ff8c00,
    #ff0080
  ); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
  border-radius: 5px;
  margin: 50px auto;
  padding: 35px;
}

.Buttondown--Wrapper--inner {
  backdrop-filter: blur(10px);
  background-color: rgba(0, 0, 0, 0.25);
  border-radius: 5px;
  padding: 25px;
  margin: 0 auto;
  text-align: center;
  max-width: 500px;
}

.Buttondown--Wrapper--inner p {
  color: #fff;
  font-size: 16px;
}

.Buttondown--Wrapper--inner h2 {
  color: #fff;
  font-size: 2em;
  margin: 0;
}

.Buttondown--Wrapper form {
  display: flex;
}

.Buttondown--Wrapper input[type="email"] {
  background-color: var(--background-color);
  color: var(--font-color);
  box-sizing: border-box;
  margin: 8px 8px 8px 0px;
  font-size: 1em;
  flex: 1 1 0%;
  border-radius: 3px;
  width: 15em;
  border: 1px solid rgb(187, 187, 187);
  padding: 0.5em;
  text-indent: 10px;
}

.Buttondown--Wrapper input[type="email"]::placeholder {
  color: var(--font-color);
}

.Buttondown--Wrapper input[type="submit"] {
  background: #ff416c; /* fallback for old browsers */
  background: -webkit-linear-gradient(
    to left,
    #ff4b2b,
    #ff416c
  ); /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(
    to left,
    #ff4b2b,
    #ff416c
  ); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
  box-sizing: border-box;
  margin: 6px 0px;
  color: #fff;
  font-weight: bold;
  padding: 8px 16px;
  border-radius: 5px;
  box-shadow: rgb(0 0 0 / 10%) 0px 1px 0px 0px;
  text-decoration: none;
  display: inline-block;
  transition: box-shadow 250ms ease-in-out 0s;
  border: 1px solid rgba(0, 0, 0, 0.1);
  font-size: 1em;
  cursor: pointer;
}

@media (max-width: 520px) {
  .Buttondown--Wrapper form {
    flex-wrap: wrap;
  }

  .Buttondown--Wrapper input[type="submit"] {
    flex: 1;
  }

  .Buttondown--Wrapper input[type="email"] {
    padding: 0.5em 0;
  }
}

.visuallyhidden {
  position: absolute;
  left: 0;
  top: -500px;
  width: 1px;
  height: 1px;
  overflow: hidden;
}

strong {
  color: var(--blue);
  font-family: sans-serif;
  font-weight: 900;
}

.anchor.before svg {
  /* true */
  fill: var(--blue);
}

.Footer--button {
  text-align: right;
  background: transparent;
  border: none;
  color: var(--font-color);
  cursor: pointer;
  float: right;
}

.Intro {
  max-width: var(--max-height);
  margin: 0 auto;
}

.navigation {
  background: #40e0d0; /* fallback for old browsers */
  background: -webkit-linear-gradient(
    to right,
    #ff0080,
    #ff8c00,
    #40e0d0
  ); /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(
    to right,
    #ff0080,
    #ff8c00,
    #40e0d0
  ); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
}

.navigation ul {
  display: flex;
  flex-wrap: wrap;
  justify-content: start;
  list-style: none;
  margin: 0 0 25px 0;
}

.navigation ul li {
  padding: 15px 25px;
  position: relative;
}

.navigation ul li a {
  color: #fff;
  font-weight: bold;
  text-decoration: none;
}

.navigation ul li img {
  cursor: pointer;
  width: 20px;
  height: 20px;
  margin-bottom: 0;
  position: absolute;
  top: 23px;
  left: 10px;
}

@media only screen and (max-width: 600px) {
  .navigation ul {
    flex-direction: column;
    text-align: center;
    padding-inline-start: 0;
  }

  .navigation ul li img {
    position: initial;
  }
}

.Layout--main {
  margin: 0 auto;
  max-width: var(--max-height);
  padding: 0 25px;
  overflow-wrap: break-word;
}

.Layout--main article {
  margin-bottom: 75px;
}

@media (max-width: 768px) {
  .Layout--main {
    grid-template-columns: 1fr;
  }
}

.flex {
  display: flex;
}

.space-between {
  justify-content: space-between;
}

.Intro--image h1,
.Intro--image h2 {
  color: var(--font-color);
  font-size: 48px;
  font-family: "Roboto", sans-serif;
  font-weight: 700;
  margin-left: 25px;
  margin-top: 25px;
  text-align: center;
}

.Intro--image h1 {
  line-height: 0.5;
}

.Intro--image h2 {
  line-height: 1;
}

.Intro--image img {
  display: block;
  margin: 0 auto;
  width: 125px;
  height: 125px;
}

.Intro--anchor {
  color: var(--blue);
}

.Intro--anchor:hover {
  border-bottom: 2px solid var(--blue);
}

.Tags {
  margin-left: auto;
  margin-right: auto;
  max-width: 1100px;
  width: 100%;
}

.Blog--links {
  color: var(--blue);
  display: inline-block;
  margin: 25px 0;
}

.Blog--header {
  font-size: 30px;
  box-shadow: none;
  color: var(--pink);
  margin-bottom: 7px;
}

.Blog--Read_More {
  color: var(--green);
  display: inline-block;
  margin-top: 16px;
}

.Footer--button:hover {
  color: var(--blue);
}

.TopPosts {
  margin: 0;
  padding: 0;
  list-style: none;
  font-size: 15px;
}

.TopPosts > li {
  margin-top: 50px;
  padding: 10px 0 20px 15px;
}

.TopPosts a {
  text-decoration: none;
}

.TopPosts p {
  margin-bottom: 10px;
}

.TopPosts h3 {
  color: var(--font-color);
  margin: 10px 0;
  font-size: 45px;
  line-height: 45px;
}

.wrapper {
  max-width: var(--content-width);
  margin: 0 auto;
  box-sizing: border-box;
}

.post--date {
  font-family: "Courier New", Courier, monospace;
  font-size: 18px;
}

.post-image {
  width: 36px;
  height: 36px;
  border-radius: 25px;
}

.author {
  font-weight: bold;
  font-size: 18px;
  display: flex;
  position: relative;
}

.post-author {
  margin-left: 13px;
  margin-top: 3px;
}

.metadata .author {
  justify-content: center;
}

@media (max-width: 500px) {
  .TopPosts h3 {
    font-size: 30px;
  }

  .navigation {
    flex-direction: column;
  }

  .navigation ul li a {
    font-size: 20px;
    margin: 15px 0;
  }
}

.post--tags a {
  color: var(--blue);
  font-size: 14px;
  margin: 0 5px;
}

.metadata {
  text-align: center;
  margin: 50px 0;
}

.metadata > * {
  margin: 0 0 16px 0;
}

html[data-theme="dark"] .light-mode-button span:nth-child(1) {
  background-color: #ced4e2;
  color: #141516;
}

html[data-theme="dark"] .light-mode-button span:nth-child(2) {
  left: 65px;
  background-color: #141516;
}

.light-mode-button {
  background: 0;
  border: 0;
  box-sizing: border-box;
  cursor: pointer;
  height: 40px;
  width: 100px;
  position: relative;
  border: 1px solid rgba(255, 255, 255, 0);
}

.light-mode-button:focus {
  outline: none; /* Not ideal for accessibility */
}

.light-mode-button span:nth-child(1) {
  position: absolute;
  top: 0;
  left: 0;
  width: 100px;
  height: 40px;
  border-radius: 20px;
  background-color: #d6d7db;
  box-shadow: inset 1px 1px 3px 0 rgb(0 0 0 / 40%);
  transition: 0.3s;
}

.light-mode-button span:nth-child(2) {
  position: absolute;
  top: 5px;
  left: 5px;
  width: 30px;
  height: 30px;
  background-color: #fff;
  border-radius: 50%;
  box-shadow: 1px 1px 2px 0 rgb(0 0 0 / 40%);
  transition: 0.3s;
}

/* color scheme */

/**
 * Based on copypasta from Remy Bach and Sarah Drasner
 */
code[class*="language-"],
pre[class*="language-"] {
  color: white;
  background: black;
  font-family: Consolas, Menlo, Monaco, source-code-pro, Courier New, monospace;
  font-feature-settings: normal;
  text-align: left;
  white-space: pre;
  word-spacing: normal;
  word-break: normal;
  word-wrap: normal;
  line-height: 1.5;
  margin-bottom: 0;

  -moz-tab-size: 4;
  -o-tab-size: 4;
  tab-size: 4;

  -webkit-hyphens: none;
  -moz-hyphens: none;
  -ms-hyphens: none;
  hyphens: none;
}

/* Code blocks */
pre[class*="language-"] {
  overflow: auto;
  padding: 1.3125rem;
}

pre[class*="language-"]::-moz-selection {
  /* Firefox */
  background: hsl(207, 4%, 16%);
}

pre[class*="language-"]::selection {
  /* Safari */
  background: hsl(207, 4%, 16%);
}

/* Text Selection colour */
pre[class*="language-"]::-moz-selection,
pre[class*="language-"] ::-moz-selection {
  text-shadow: none;
  background: hsla(0, 0%, 100%, 0.15);
}

pre[class*="language-"]::selection,
pre[class*="language-"] ::selection {
  text-shadow: none;
  background: hsla(0, 0%, 100%, 0.15);
}

/* Inline code */
:not(pre) > code[class*="language-"] {
  border-radius: 0.3em;
  background: var(--inlineCode-bg);
  color: var(--inlineCode-text);
  padding: 0.15em 0.2em 0.05em;
  white-space: normal;
}

.token.attr-name {
  color: rgb(173, 219, 103);
  font-style: italic;
}

.token.comment {
  color: rgb(128, 147, 147);
}

.token.string,
.token.url {
  color: rgb(173, 219, 103);
}

.token.variable {
  color: rgb(214, 222, 235);
}

.token.number {
  color: rgb(247, 140, 108);
}

.token.builtin,
.token.char,
.token.constant,
.token.function {
  color: rgb(130, 170, 255);
}

.token.punctuation {
  color: rgb(199, 146, 234);
}

.token.selector,
.token.doctype {
  color: rgb(199, 146, 234);
  font-style: "italic";
}

.token.class-name {
  color: rgb(255, 203, 139);
}

.token.tag,
.token.operator,
.token.keyword {
  color: #ffa7c4;
}

.token.boolean {
  color: rgb(255, 88, 116);
}

.token.property {
  color: rgb(128, 203, 196);
}

.token.namespace {
  color: rgb(178, 204, 214);
}

pre[data-line] {
  padding: 1em 0 1em 3em;
  position: relative;
}
