<ol reversed class="TopPosts">
{% for post in postslist | reverse %}
    {% if post.data.topPost %}
        <li class="wrapper">
            <a href="{{ post.url | url }}" class="postlist-link">
                <h3>{{ post.data.title }}</h3>
            </a>
        </li>
    {% endif %}
{% endfor %}
</ol>
