---
layout: layouts/home.njk
permalink: /blog/
eleventyNavigation:
  key: Blog
  order: 2
---

<h1>Welcome to my JavaScript blog!</h1>

{% set postslist = collections.posts %}

<h2>Here are some of my more popular posts:</h2>
{% include "topPosts.njk" %}

<h2>Full archive!</h2>
{% include "postslist.njk" %}
