---
layout: layouts/home.njk
permalink: /blog/
eleventyNavigation:
  key: Blog
  order: 2
---

<div class="blog-titles">
  <h1>Welcome to my JavaScript blog!</h1>
  <h2>Here are some of my more popular posts:</h2>
</div>

{% set postslist = collections.posts %}

{% include "topposts.njk" %}

<h2>Here is my full archive!</h2>
{% include "postslist.njk" %}
