---
pagination:
  data: collections
  size: 1
  alias: tag
  filter:
    - all
    - nav
    - post
    - posts
    - tagList
    - featuredPosts
  addAllPagesToCollections: true
layout: layouts/base.njk
eleventyComputed:
  title: Writing about {{ tag }}
permalink: /tags/{{ tag | slug }}/
---
<div class="wrapper">
  <header class="page-header">
    <p class="page-header__eyebrow">{{ collections[ tag ] | length }} posts · <a href="{{ '/tags/' | url }}">all topics</a></p>
    <h1>{{ tag }}</h1>
  </header>

  {% set postslist = collections[ tag ] %}
  {% include "postslist.njk" %}
</div>
