<ol reversed class="postlist">
{% for post in postslist | reverse %}
  <li class="postlist-item{% if post.url == url %} postlist-item-active{% endif %}">
    <time class="postlist-date" datetime="{{ post.date | htmlDateString }}">{{ post.date | readableDate }}</time>
    <h1>
        <a href="{{ post.url | url }}" class="postlist-link">{% if post.data.pageTitle %}{{ post.data.pageTitle }}{% else %}<code>{{ post.url }}</code>{% endif %}</a>
    </h1>
    <div>{% excerpt post %}</div>

    <div class="readMore"><a href="{{ post.url | url }}">Read More &rarr;</a></div>
  </li>
{% endfor %}
</ol>
