<li>
    <a href="{{ post.url | url }}" class="postlist-link">
        <h3>{{ post.data.title }}</h3>
    </a>
    <span class="flex space-between">
        <span class="metadata">{{ post.templateContent | readingTime }} read</span>
        <span class="post--date">Posted on: {{ post.date | readableDate }}</span>
        <span>
        {% for tag in post.data.tags | filterTagList %}
            {% set tagUrl %}/tags/{{ tag | slug }}/{% endset %}
            <a href="{{ tagUrl | url }}" class="post-tag">#{{ tag }}</a>
        {% endfor %}
        </span>
    </span>
</li>