<div class="posts-list">
{% for post in postslist | reverse %}
  {% if post.data.topPost %}
    <a href="{{ post.url | url }}" class="posts-list__item">
      <time class="posts-list__date" datetime="{{ post.date | htmlDateString }}">
        {{ post.date | readableDate }}
      </time>
      <div class="posts-list__content">
        <h3 class="posts-list__title">{{ post.data.title }}</h3>
        {% if post.data.description %}
          <p class="posts-list__excerpt">{{ post.data.description }}</p>
        {% endif %}
      </div>
    </a>
  {% endif %}
{% endfor %}
</div>
