<!doctype html>
<html lang="en" data-theme="dark">
  <head>
    <!-- Global site tag (gtag.js) - Google Analytics -->
    <script async src="https://www.googletagmanager.com/gtag/js?id=UA-21008844-11"></script>
    <script>
      window.dataLayer = window.dataLayer || [];
      function gtag(){dataLayer.push(arguments);}
      gtag('js', new Date());

      gtag('config', 'UA-21008844-11');
    </script>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="icon" href="/img/favicon.ico" type="image/png">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Roboto:wght@300;700&display=swap" rel="stylesheet">
    <title>{{ title or metadata.title }}</title>
    <meta name="description" content="{{ description or metadata.description }}">
    <link rel="stylesheet" href="{{ '/css/index.css' | url }}">
    <link rel="alternate" href="{{ metadata.feed.path | url }}" type="application/atom+xml" title="{{ metadata.title }}">
    <link rel="alternate" href="{{ metadata.jsonfeed.path | url }}" type="application/json" title="{{ metadata.title }}">

    <meta property="og:title" content="{{ title or renderData.title or metadata.title | safe }}"/>
    <meta property="og:url" content="{{ page.url }}" />
    <meta property="og:description" content="{{ description or renderData.description | safe }}" />
    <meta property="og:type" content="article" />
    <meta property="og:image" content="{{ image | safe or ""}}" />
    <meta name="twitter:card" content="summary"></meta>
    <meta name="twitter:creator" content="@jkup"></meta>
  </head>
  <body>
    <header class="Layout--header">
      <div class="navigation">
        <nav>
          <ul>
            <li>
              <a href="/">Home</a>
            </li>
            <li>
              <a href="/about">About Me</a>
            </li>
            <li>
              <a href="/blog">My Blog</a>
            </li>
            <li>
              <img onclick="toggle_light_mode()" class="toggle" src="/img/sun.png" />
            </li>
          </ul>
        </nav>
      </div>
    </header>

    <main class="Layout--main">

      <div class="wrapper">
        {{ content | safe }}
      </div>
    </main>

    <!-- Current page: {{ page.url | url }} -->
    <script>function toggle_light_mode(){"dark"==localStorage.getItem("theme")?(localStorage.setItem("theme","light"),document.documentElement.setAttribute("data-theme","light")):(localStorage.setItem("theme","dark"),document.documentElement.setAttribute("data-theme","dark"))}"dark"===localStorage.getItem("theme")?document.documentElement.setAttribute("data-theme","dark"):document.documentElement.setAttribute("data-theme","light");</script>
  </body>
</html>
