:root {
    --background-color: #0f141a;
    --font-color: #fff;
    --pink: #fe53bb;
    --yellow: #f5d300;
    --blue: #08f7fe;
    --green: #09fbd3;
    --button: var(--blue);
}

[data-theme='light'] {
    --background-color: #fff;
    --font-color: #000;
    --pink: #000;
    --yellow: #000;
    --blue: #000;
    --green: #000;
    --button: var(--background-color);
}

@font-face {
    font-family: 'Wotfard';
    src: url('/fonts/wotfard-regular-webfont.eot');
    src: url('/fonts/wotfard-regular-webfont.eot?#iefix') format('embedded-opentype'),
        url('/fonts/wotfard-regular-webfont.woff2') format('woff2'),
        url('/fonts/wotfard-regular-webfont.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

body {
    background-color: var(--background-color);
    color: var(--font-color);
    font-family: 'Wotfard', sans-serif;
    text-rendering: optimizelegibility;
}

h1 {
    color: var(--blue);
}
h2,
h3,
h4,
h5,
h6 {
    color: var(--pink);
    font-family: 'Wotfard', sans-serif;
    font-weight: bold;
}

p {
    color: var(--font-color);
    font-size: 19px;
    margin-bottom: 32px;
}

a {
    box-shadow: none;
    color: var(--yellow);
}

a:hover {
    border-bottom: 2px solid var(--blue);
}

blockquote p {
    color: var(--font-color);
    margin-top: 60px;
    padding-left: 30px;
    font-size: 30px;
    line-height: 1.5em;
    border-left: 1px solid var(--blue);
}

.twitter-tweet,
img,
pre {
    margin-bottom: 32px !important;
}

footer {
    margin: 50px auto;
    max-width: 1100px;
    padding: 0 25px;
}

strong {
    color: var(--blue);
    font-family: sans-serif;
    font-weight: 900;
}

.anchor.before svg {
    /* true */
    fill: var(--yellow);
}

.Footer--button {
    text-align: right;
    background: transparent;
    border: none;
    color: var(--font-color);
    cursor: pointer;
    float: right;
}

.Layout--header {
    margin: 50px auto;
    max-width: 1100px;
    padding: 0 25px;
    width: 100%;
}

.Layout--main {
    display: grid;
    gap: 64px 96px;
    grid-template-columns: 2fr 1fr;
    margin-left: auto;
    margin-right: auto;
    max-width: 1100px;
    padding: 0 25px;
    width: 100%;
}

.Layout--section {
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
}

.Layout--section li a:hover {
    color: var(--blue);
    border-bottom: none;
}

.Layout--section p {
    display: inline;
}

.Layout--children {
    overflow: auto;
}

@media (max-width: 768px) {
    .Layout--main {
        grid-template-columns: 1fr;
    }
}

.Mailchimp--div input {
    border: none;
    background: transparent;
    color: var(--font-color);
    border-bottom: 2px solid var(--blue);
    margin: 50px 25px;
}

.mailchimpSubmit {
    background: var(--button);
    border: none;
    color: #000;
    cursor: pointer;
    padding: 20px 50px;
}

@media (max-width: 685px) {
    .Mailchimp--label {
        display: block;
    }
}

.Intro--image {
    font-size: 32px;
}

.Intro--anchor {
    color: var(--blue);
}

.Intro--anchor:hover {
    border-bottom: 2px solid var(--yellow);
}

.TableOfContents {
    position: -webkit-sticky;
    position: sticky;
    align-self: flex-start;
    top: 0;
}

.Tags {
    margin-left: auto;
    margin-right: auto;
    max-width: 1100px;
    width: 100%;
}

.Blog--links {
    color: var(--blue);
    display: inline-block;
    font-size: 28px;
    margin: 50px 0;
}

.Blog--header {
    font-size: 22px;
    box-shadow: none;
    color: var(--pink);
    margin-bottom: 7px;
}

.Blog--Read_More {
    color: var(--green);
    display: inline-block;
    margin-top: 16px;
}

.Footer--button:hover {
    color: var(--blue);
}

.List ol,
.List ul {
    list-style: none;
    font-size: 19px;
}

.List ol li {
    counter-increment: start-from 1;
}

.List ol li:before {
    content: '' counter(start-from) '. ';
    color: var(--yellow);
    padding-right: 12px;
}

.List ul li:before {
    content: '→';
    color: var(--yellow);
    padding-right: 12px;
}

/* Prism NightOwl Theme */
code[class*='language-'],
pre[class*='language-'] {
    color: #d6deeb;
    font-family: Consolas, Monaco, 'Andale Mono', 'Ubuntu Mono', monospace;
    text-align: left;
    white-space: pre;
    word-spacing: normal;
    word-break: normal;
    word-wrap: normal;
    line-height: 1.5;

    -moz-tab-size: 4;
    -o-tab-size: 4;
    tab-size: 4;

    -webkit-hyphens: none;
    -moz-hyphens: none;
    -ms-hyphens: none;
    hyphens: none;
}

pre[class*='language-']::-moz-selection,
pre[class*='language-'] ::-moz-selection,
code[class*='language-']::-moz-selection,
code[class*='language-'] ::-moz-selection {
    text-shadow: none;
    background: rgba(29, 59, 83, 0.99);
}

pre[class*='language-']::selection,
pre[class*='language-'] ::selection,
code[class*='language-']::selection,
code[class*='language-'] ::selection {
    text-shadow: none;
    background: rgba(29, 59, 83, 0.99);
}

@media print {
    code[class*='language-'],
    pre[class*='language-'] {
        text-shadow: none;
    }
}

/* Code blocks */
pre[class*='language-'] {
    padding: 1em;
    margin: 0.5em 0;
    overflow: auto;
}

:not(pre) > code[class*='language-'],
pre[class*='language-'] {
    color: white;
    background: #011627;
}

:not(pre) > code[class*='language-'] {
    padding: 0.1em;
    border-radius: 0.3em;
    white-space: normal;
}

.token.comment,
.token.prolog,
.token.cdata {
    color: rgb(99, 119, 119);
    font-style: italic;
}

.token.punctuation {
    color: rgb(199, 146, 234);
}

.namespace {
    color: rgb(178, 204, 214);
}

.token.deleted {
    color: rgba(239, 83, 80, 0.56);
    font-style: italic;
}

.token.symbol,
.token.property {
    color: rgb(128, 203, 196);
}

.token.tag,
.token.operator,
.token.keyword {
    color: rgb(127, 219, 202);
}

.token.boolean {
    color: rgb(255, 88, 116);
}

.token.number {
    color: rgb(247, 140, 108);
}

.token.constant,
.token.function,
.token.builtin,
.token.char {
    color: rgb(130, 170, 255);
}

.token.selector,
.token.doctype {
    color: rgb(199, 146, 234);
    font-style: italic;
}

.token.attr-name,
.token.inserted {
    color: rgb(173, 219, 103);
    font-style: italic;
}

.token.string,
.token.url,
.token.entity,
.language-css .token.string,
.style .token.string {
    color: rgb(173, 219, 103);
}

.token.class-name,
.token.atrule,
.token.attr-value {
    color: rgb(255, 203, 139);
}

.token.regex,
.token.important,
.token.variable {
    color: rgb(214, 222, 235);
}

.token.important,
.token.bold {
    font-weight: bold;
}

.token.italic {
    font-style: italic;
}

/* Theme Switcher */
.theme-switch-wrapper {
    display: flex;
    align-items: center;
}

.theme-switch-wrapper em {
    margin-left: 10px;
    font-size: 1rem;
}
.theme-switch {
    display: inline-block;
    height: 34px;
    position: relative;
    width: 60px;
}

.theme-switch input {
    display: none;
}

.slider {
    background-color: #ccc;
    bottom: 0;
    cursor: pointer;
    left: 0;
    position: absolute;
    right: 0;
    top: 0;
    transition: 0.4s;
}

.slider:before {
    background-color: #fff;
    bottom: 4px;
    content: '';
    height: 26px;
    left: 4px;
    position: absolute;
    transition: 0.4s;
    width: 26px;
}

input:checked + .slider {
    background-color: #66bb6a;
}

input:checked + .slider:before {
    transform: translateX(26px);
}

.slider.round {
    border-radius: 34px;
}

.slider.round:before {
    border-radius: 50%;
}
