:root {
    --background-color: #222;
    --callout: #000;
    --font-color: #fff;
    --pink: #fe53bb;
    --yellow: #f5d300;
    --blue: #08f7fe;
    --green: #09fbd3;
    --button: var(--blue);
    --buttonColor: var(--background-color);
    --max-height: 680px;
}

[data-theme='light'] {
    --background-color: #fff;
    --callout: #eee;
    --font-color: #000;
    --pink: #000;
    --yellow: #900eaa;
    --blue: #000;
    --green: #900eaa;
    --button: #000;
    --buttonColor: var(--background-color);
    --max-height: 680px;
}

body {
    background-color: var(--background-color);
    color: var(--font-color);
    font-family: 'Roboto', sans-serif;
    font-size: 20px;
    text-rendering: optimizelegibility;
    line-height: 1.75;
}

h1 {
    color: var(--blue);
}
h2,
h3,
h4,
h5,
h6 {
    color: var(--pink);
    font-family: 'Montserrat', sans-serif;
    font-weight: bold;
}

p {
    color: var(--font-color);
    font-size: 20px;
    margin-bottom: 32px;
}

a {
    box-shadow: none;
    color: var(--yellow);
    text-decoration: none;
}

a:hover {
    border-bottom: 2px solid var(--blue);
}

blockquote {
    border-left: none;
}

blockquote p {
    color: var(--font-color);
    margin-top: 60px;
    padding-left: 30px;
    font-size: 30px;
    line-height: 1.5em;
    border-left: 2px solid var(--blue);
}

img {
    width: 100%;
    height: auto;
}

:not(pre) > code {
    background-color: var(--background-color);
    color: var(--yellow);
}

.twitter-tweet,
img,
pre {
    margin-bottom: 32px !important;
}

footer {
    max-width: var(--max-height);
    margin: 0 auto;
}

.Mailchimp--Wrapper {
    border: 3px solid transparent;
    border-image: linear-gradient(
        to bottom right,
        #b827fc 0%,
        #2c90fc 25%,
        #b8fd33 50%,
        #fec837 75%,
        #fd1892 100%
    );
    border-image-slice: 1;
    margin: 50px auto;
    padding: 25px;
}

strong {
    color: var(--blue);
    font-family: sans-serif;
    font-weight: 900;
}

.anchor.before svg {
    /* true */
    fill: var(--yellow);
}

.Footer--button {
    text-align: right;
    background: transparent;
    border: none;
    color: var(--font-color);
    cursor: pointer;
    float: right;
}

.Intro {
    max-width: var(--max-height);
    margin: 0 auto;
}

.navigation {
    display: flex;
    justify-content: space-between;
    margin: 50px auto;
    max-width: var(--max-height);
    padding: 0 25px;
}

.navigation ul {
    list-style: none;
    margin: 0;
    padding: 0;
}

.navigation ul li {
    float: left;
    margin: 0 12px;
}

.navigation ul li:first-child {
    margin-left: 0;
}

.navigation ul li a {
    font-family: 'Montserrat', sans-serif;
    font-size: 24px;
    font-weight: bold;
}

.Layout--main {
    margin: 0 auto;
    max-width: var(--max-height);
    padding: 0 25px;
    overflow-wrap: break-word;
}

.Layout--main article {
    margin-bottom: 75px;
}

@media (max-width: 768px) {
    .Layout--main {
        grid-template-columns: 1fr;
    }
}

.Mailchimp--div input {
    border: none;
    background: transparent;
    color: var(--font-color);
    border-bottom: 2px solid var(--blue);
    margin: 50px 25px;
}

.mailchimpSubmit {
    font-size: 20px;
    background: var(--button);
    border: none;
    color: var(--buttonColor);
    cursor: pointer;
    padding: 20px 50px;
}

@media (max-width: 685px) {
    .Mailchimp--label {
        display: block;
    }
}

.Intro--image span {
    font-size: 48px;
    font-family: 'Montserrat', sans-serif;
    font-weight: bold;
    margin-left: 25px;
}

@media (max-width: 500px) {
    .Intro--image span {
        font-size: 20px;
    }

    .navigation ul li a {
        font-size: 20px;
    }
}

.Intro--anchor {
    color: var(--blue);
}

.Intro--anchor:hover {
    border-bottom: 2px solid var(--yellow);
}

.Tags {
    margin-left: auto;
    margin-right: auto;
    max-width: 1100px;
    width: 100%;
}

.Blog--links {
    color: var(--blue);
    display: inline-block;
    font-size: 28px;
    margin: 50px 0;
}

.Blog--header {
    font-size: 30px;
    box-shadow: none;
    color: var(--pink);
    margin-bottom: 7px;
}

.Blog--Read_More {
    color: var(--green);
    display: inline-block;
    margin-top: 16px;
}

.Footer--button:hover {
    color: var(--blue);
}

.AllPosts a {
    color: var(--pink);
    font-size: 19px;
}

.post--tags a {
    color: var(--yellow);
    font-size: 14px;
    margin: 0 5px;
}

.tiny {
    font-size: 14px;
}

.metadata {
    color: var(--pink);
    margin: 25px 0;
}

/* Effect 5: same word slide in */
.cl-effect-5 a {
    overflow: hidden;
    padding: 0 4px;
    position: relative;
    display: inline-block;
    margin: -11px -2px;
    outline: none;
    color: var(--yellow);
    text-decoration: none;
    letter-spacing: 1px;
    font-weight: 400;
    text-shadow: 0 0 1px rgba(255, 255, 255, 0.3);
}

.cl-effect-5 a span {
    position: relative;
    display: inline-block;
    -webkit-transition: -webkit-transform 0.3s;
    -moz-transition: -moz-transform 0.3s;
    transition: transform 0.3s;
}

.cl-effect-5 a span::before {
    position: absolute;
    top: 100%;
    content: attr(data-hover);
    font-weight: 700;
    -webkit-transform: translate3d(0, 0, 0);
    -moz-transform: translate3d(0, 0, 0);
    transform: translate3d(0, 0, 0);
}

.cl-effect-5 a:hover span,
.cl-effect-5 a:focus span {
    -webkit-transform: translateY(-100%);
    -moz-transform: translateY(-100%);
    transform: translateY(-100%);
}

.webmentions {
    padding: 0;
    margin: 0;
    list-style-type: none;
}

.webmention--header {
    display: flex;
    justify-content: space-between;
    margin-bottom: 25px;
}

.webmention--header h3 {
    margin: 0;
    padding: 0;
}

.webmention--header svg {
    display: inline-block;
    vertical-align: middle;
    margin: 0 5px;
}

.webmention--item {
    display: flex;
    flex-direction: column;
    position: relative;
    padding: 1rem 0 1rem 60px;
    margin-bottom: 25px;
    overflow-wrap: break-word;
}

.webmention--meta {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    order: -1;
    font-size: 0.875rem;
}

.webmention--image {
    position: absolute;
    top: 1rem;
    left: 0;
    height: 48px;
    width: 48px;
    border-radius: 50%;
    object-fit: cover;
}
