@font-face {
    font-family: 'Wotfard';
    src: url('/fonts/wotfard-regular-webfont.eot');
    src: url('/fonts/wotfard-regular-webfont.eot?#iefix') format('embedded-opentype'),
         url('/fonts/wotfard-regular-webfont.woff2') format('woff2'),
         url('/fonts/wotfard-regular-webfont.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

body {
    background: linear-gradient(180deg,#2e3857 0%,#212529 100%);
    color: #fff;
    font-family: 'Wotfard', sans-serif;
}

h1, h2, h3, h4, h5, h6, p {
    font-family: 'Wotfard', sans-serif;
    font-weight: bold;
    text-rendering: optimizelegibility;
}

p {
    font-size: 19px;
    margin-bottom: 32px;
}

a {
    box-shadow: none;
}

.toc a {
    color: #fff;
    text-decoration: none;
}

.toc ul {
    list-style: none;
}

.toc li,
.toc li > p {
    margin-bottom: 0;
}

.toc li > ul {
    margin: 0 0 0 1rem;
}

.anchor.before svg {
    fill: yellow;
}

.blogPost a {
	padding: 0 20px;
	height: 45px;
	line-height: 45px;
}

.blogPost a::before,
.blogPost a::after {
	position: absolute;
	width: 45px;
	height: 2px;
	background: #fff;
	content: '';
	opacity: 0.2;
	-webkit-transition: all 0.3s;
	-moz-transition: all 0.3s;
	transition: all 0.3s;
	pointer-events: none;
}

.blogPost a::before {
	top: 0;
	left: 0;
	-webkit-transform: rotate(90deg);
	-moz-transform: rotate(90deg);
	transform: rotate(90deg);
	-webkit-transform-origin: 0 0;
	-moz-transform-origin: 0 0;
	transform-origin: 0 0;
}

.blogPost a::after {
	right: 0;
	bottom: 0;
	-webkit-transform: rotate(90deg);
	-moz-transform: rotate(90deg);
	transform: rotate(90deg);
	-webkit-transform-origin: 100% 0;
	-moz-transform-origin: 100% 0;
	transform-origin: 100% 0;
}

.blogPost a:hover::before,
.blogPost a:hover::after,
.blogPost a:focus::before,
.blogPost a:focus::after {
	opacity: 1;
}

.blogPost a:hover::before,
.blogPost a:focus::before {
	left: 50%;
	-webkit-transform: rotate(0deg) translateX(-50%);
	-moz-transform: rotate(0deg) translateX(-50%);
	transform: rotate(0deg) translateX(-50%);
}

.blogPost a:hover::after,
.blogPost a:focus::after {
	right: 50%;
	-webkit-transform: rotate(0deg) translateX(50%);
	-moz-transform: rotate(0deg) translateX(50%);
	transform: rotate(0deg) translateX(50%);
}