<div class="Buttondown--Wrapper">
  <div class="Buttondown--Wrapper--inner">
    <h2>Subscribe</h2>
    <p>
      I send out a monthly update with what's happening on this site. 
      No spam, unsubscribe anytime. Join the community!
    </p>
    <form
      action="https://buttondown.email/api/emails/embed-subscribe/jkup"
      method="post"
      target="popupwindow"
      onSubmit="window.open('https://buttondown.email/jkup', 'popupwindow')"
      class="embeddable-buttondown-form"
    >
      <label class="visuallyhidden" for="bd-email">
        Enter your email
      </label>
      <input
        type="email"
        placeholder="your@email.com"
        name="email"
        id="bd-email"
        required
      />
      <input type="hidden" value="1" name="embed" />
      <input type="submit" value="Subscribe" />
    </form>
  </div>
</div>