---
layout: layouts/base.njk
templateClass: tmpl-post
---
<article class="wrapper">
  <header class="metadata">
    <h1>{{ title }}</h1>
    <div class="author">
      <img class="post-image" alt="Jon Kuperman" src="/img/profile-pic-small.png" />
      <span class="post-author">{{ author or "Jon Kuperman"}}</span>
    </div>
  </header>

  <div class="dateSection">
    <span class="shadow">{{ content | readingTime }} READ · {{ page.date | readableDate }}</span>
  </div>

  <div class="post-content">
    {{ content | safe }}
  </div>

  {%- if collections.posts %}
  {%- set nextPost = collections.posts | getNextCollectionItem(page) %}
  {%- set previousPost = collections.posts | getPreviousCollectionItem(page) %}
  {%- if nextPost or previousPost %}
  <hr>
  <nav>
    <ul class="prevnext">
      {%- if previousPost %}
      <li>
        <a href="{{ previousPost.url | url }}">
          ← {{ previousPost.data.title }}
        </a>
      </li>
      {% endif %}
      {%- if nextPost %}
      <li>
        <a href="{{ nextPost.url | url }}">
          {{ nextPost.data.title }} →
        </a>
      </li>
      {% endif %}
    </ul>
  </nav>
  {%- endif %}
  {%- endif %}
</article>

{% include "./buttondown.njk" %}