---
layout: layouts/base.njk
templateClass: tmpl-post
---
<div class="wrapper">
  <div class="metadata">
    <span>{{ content | readingTime }} read · {{ page.date | readableDate }}</span>

    <h1>{{ title }}</h1>

    <span class="author">
      <img class="post-image" src="/img/profile-pic-small.png" />
      <span class="post-author">{{ author or "Jon Kuperman"}}</span>
    </span>
  </div>

  <div>
    <span id="likeButton">❤️</span>
    <span id="likeCount">0</span><span>likes</span>
  </div>


  {{ content | safe }}

  {%- if collections.posts %}
  {%- set nextPost = collections.posts | getNextCollectionItem(page) %}
  {%- set previousPost = collections.posts | getPreviousCollectionItem(page) %}
  {%- if nextPost or previousPost %}
  <hr>
  <ul class="prevnext">
    {%- if previousPost %}<li>&larr; <a href="{{ previousPost.url | url }}">{{ previousPost.data.title }}</a></li>{% endif %}
    {%- if nextPost %}<li><a href="{{ nextPost.url | url }}">{{ nextPost.data.title }}</a>&rarr;</li>{% endif %}
  </ul>
  {%- endif %}
  {%- endif %}
</div>

{% include "./buttondown.njk" %}